.main {
    display: inline-block;
    width: 100%;
}
.main-1 {
    display: block;
    float: left;
    width: 10%;
    text-align: center;
    font-family: arial;
    font-weight: 600;
}
.main-1 a {
    color: #006400;
}
.main-1 a:hover {
    color: black;
}
.main-2 {
    display: inline-block;
    width: 90%
}
.card {
    display: inline-table;
    width: 32%;
    text-align: center;
    border-color: black; 
    border-style: solid; 
    padding: 5px;
}
.card_img {
    width: 350px;
    height: 230px;
}
.foot {
    text-align: right;
    width: 100%; 
}
h3 {
    font-size: larger;
    text-decoration: underline;
}
ul {
    list-style:none;
}
h5 {
    font-weight: normal;
}