.nav {
    background-color: #98FB98;
    height: 80px; 
    width: 100%;
}
.nav-con {
    display: flex;
    justify-content: space-between;
}
.br-name {
    display: block;
    float: left;
    width:30%;
    color: #006400;
    text-align: center;
    margin: 13px;
    font-style: oblique;
    font-weight: 900;
    font-size: 200%;
}
.nav-ul {
    list-style:none;
    margin: 0;
    padding-left: 0;
}
a {
    text-decoration: none; 
}
.nav-li {
    float:right;   
    margin-left: 15px;
    margin-top: 25px;
} 
.nav-li a {
    background: #228B22;
    color: white;
    padding: 10px;
    font-family: arial;
    border-radius: 4px;
}
.nav-li a:hover {
    background: #FFFF00;
    color: black;
}
.bot_ul {
    list-style:none;
    margin: 0;
    padding-left: 0;
}
.bot_li {
    text-align: center;
    background: rgb(219, 247, 168);
    font-family: arial;
    border-radius: 4px;
    margin: 10px;
    margin-left: 120px;
    margin-right: 120px;
}
.bot {
    float: center;
}
.bot_li a {
    color: black;
}
.bot_ul :hover {
    background: rgb(200, 245, 95);
}